body {
  background-color: #fff;
  color: #777;
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  color: #02b8dd;
}

strong {
  font-weight: bold;
}

small {
  font-size: 13px;
  color: #777;
  font-style: italic;
}

.clear {
  clear: both;
}

/* header */
.info {
  font-weight: 300;
  color: #444;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.header-wrapper {
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: #edeff0;
  width: 100%;
  z-index: 999;
}


/* .header-wrapper.sticky{
  position: fixed;
  background-color: white;
} */


.website-name {
  display: flex;
  align-items: center;
  margin-left: 25px;
  color: black;
  font-size: 32px;
  font-weight: 600;
}


.color {
  color: #02b8dd;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.home,
.about-us,
.images,
.services {
  margin-left: 25px;
}

.services {
  margin-right: 25px;
}

/* home-page */
#home-page {
  display: flex;
  align-items: center;
  height: 100vh;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero-image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.button-1 {
  display: block;
  text-align: center;
  background: #444;
  border-radius: 3px;
  color: #fff;
  width: 180px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  margin: 0 auto;
}

.button-1:hover {
  background-color: #02b8dd;
  color: #fff;
}

/* about-us-page */
#about-us-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #edeff0;
}

.about-us-title {
  font-weight: 300;
  color: #444;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.about-us-motive {
  font-size: 35px;
  color: #444;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  width: 80%;
}

.about-us-descr {
  width: 70%;
  text-align: justify;
}

/* images-page */
#images-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.images-title {
  font-weight: 300;
  color: #444;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.images-descr {
  width: 70%;
  text-align: justify;
}

.slider {
  width: 70%;
  height: 400px;
  box-shadow: 0px 0px 3px grey;
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 1s;
}

.prev-btn,
.next-btn {
  height: 40px;
  position: absolute;
}

.prev-btn {
  left: 15%;
  top: 55%;
}

.next-btn {
  right: 15%;
  top: 55%;
}

/* services-page */
#services-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #edeff0;
  color: black;
}

.services-title {
  font-weight: 300;
  color: #444;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.services-descr {
  font-size: 35px;
  color: #444;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  width: 90%;
}


.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 90%;
  column-gap: 10px;
}


.service-type {
  font-size: 26px;
}

.service-title-descr {
  width: 93%;
  font-size: 16px;
  color: #3e4242;
}


/* footer */
footer {
  margin-top: 20px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  background-color: #edeff0;
  color: black;
}


@media screen and (max-width: 1230px) {
  .header-wrapper {
    font-size: 18px;
  }

  .website-name{
    font-size: 20px;
  }

  .home,
  .about-us,
  .images,
  .services {
    font-size: 17px;
  }

  #home-page {
    height: 100vh;
  }

  #about-us-page {
    height: 100%;
  }

  #images-page {
    height: 100%;
  }

  #services-page {
    height: 100%;
  }

  .prev-btn {
    left: 15%;
    top: 60%;
  }

  .next-btn {
    right: 15%;
    top: 60%;
  }
}